header 
        {
            display: inline-flex;
            background-color: #0174C7;
            width: 100%;
            color: white;
            box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.11);
            padding: 5px;
            position: fixed;
            z-index: 99;
        }

        .padding-15
        {
            padding: 15px;
        }

        header > .search
        {
            position: absolute;
            right: 0px;
        }
       
        .header-text 
        {
            font-weight: 700;
            font-size: 20px;
            position: relative;
            padding: 2px 0px 0px 10px;
        }

        /*content .list {
            padding-left: 50px;
        }*/

        .list img
        {
            width:60px;
            height: 60px
        }

        .margin-left-10
        {
            margin-left: 10px;
        }

        .face-name
        {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.74);
            font-size: 16px !important;
        }

        .face-email
        {
            color: rgba(0, 0, 0, 0.49);
            font-size: 12px;
        }

        .padding-left-67
        {
                padding-left: 67px !important;
        }


        content
        {
           position: absolute;
            top: 64px;
            width: 100%;
            height: auto;
            overflow: scroll;
            bottom: 0px;
        }

        .face-call
        {
           right: -5px;
            color: white;
            background: #e91e63;
            padding: 10px;
            border-radius: 100px;
            border: 1px solid #e91e63;
            position: relative;
            top: 7px;
        }

        .position-relative
        {
            position: relative;
        }

        content::-webkit-scrollbar-thumb
        {
            background: #0174C7
        }  

        content::-webkit-scrollbar
        {
            width: 2px;
        }   

        .navbar
        {
            position: fixed;
            top: 0px;
            left: 0px;
           /*left: 100%;*/
            background: rgba(0, 0, 0, 0.15);
            width: 100%;
            height: 100%;
            z-index: 99;

            display: none;

        }

        .navbar > .container
        {
            position: absolute;
            top: 0px;
            left: 0px;
            background: white;
            width: 300px;
            height: 100%;
            /*border-right: 1px solid rgba(0, 0, 0, 0.07);*/
            box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.37);
        }

        .navbar > .container > .header
        {
            width: 100%;
            height: 64px;
            background: #0174C7;
            padding: 15px;
        }


        .navbar > .container > .header > .text
        {
                margin: 0px;
            font-size: 24px;
            display: inline-block;
        }

        .navbar > .container > .header > .close-btn
        {
            position: absolute;
            right: 13px;
            top: 17px;
            cursor: pointer;
        }

        .navbar > .container > .list
        {
            color: black;
        }

        .navbar > .container > .list  .list-icon
        {
          margin-right: 15px;
            position: relative;
            top: 4px;
            color: rgba(0, 0, 0, 0.59);
            font-size: 28px;
        }

        .navbar > .container > .list  span
        {
            color: rgba(0, 0, 0, 0.59);
            font-size: 17px;
            position: relative;
            top: -6px;
        }

        .cursor-pointer
        {
            cursor: pointer;
        }

        .no-data
        {
            text-align: center;
            padding: 20px;
            color: rgba(0, 0, 0, 0.19);
        }

        .no-data > i
        {
            font-size: 110px;
            color: rgba(0, 0, 0, 0.19);
        }

        .no-data .text
        {
            position: relative;
            top: -14px;
        }

        .no-data button
        {
            position: relative;
            top: -32px;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }